@import "font-awesome.min.css";
@import "ot_buttons.css";
@import "ot_carousel.css";
@import "ot_sticky.css";
@import "ot_datetime.css";
@import "ot_drawer.css";
@import "ot_icons.css";
@import "ot_picture_uploader.css";
@import "ot_popup.css";
@import "ot_spinner.css";
@import "ot_page_transition.css";
@import "ot_tongue.css";
@import "os";
@import "demo";

$indent: 1rem;

.header {
}
.content {
    padding-left: $indent;
}
// body
body {
    background: #27212E;
    color: white;
}

//links
.link {
  color: cyan;
  cursor: pointer;
}
.link:hover {
  color: cyan;
  text-decoration: underline;
  cursor: pointer;
}
a {
  color: cyan;
  outline-color: transparent;
}
a:link {
  color: cyan;
}

a:visited {
  color: cyan;
}

a:focus {
  color: cyan;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: cyan;
}

// collapse
.wrap-collapsible {
}
input[type='checkbox'] {
  display: none;
  color: #A77B0E;
}
.lbl-toggle {
  display: block;
  // color: #A77B0E;
  color: #ED60BA;
  cursor: pointer;
  transition: all 0.25s ease-out;
}
.lbl-toggle:hover {
  color: #EB64B9;
}
.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  // tutorial had this value, this fucked up bigger than screen size content
  // max-height: 100vh;
  max-height: 100%;
}
.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@mixin indent(){
  @for $i from 1 through 1 { // thought I'd need more
    .indent-#{$i}{
        padding-left: ($i * $indent);
    }
  }
}

@include indent();

// org_page contains org_content & backlinks

.org_page {
    display: flex;
}
.org_content {
    flex: 2;
}
.backlinks {
    flex: 1;
}
.invisible {
    display: none;
}
