.header {
    margin-top: 0.5rem;
}
.content {
    // padding-left: $indent;
}
// body
body {
    background: #27212E;
    color: white;
}

//links
.link {
  color: $links_col;
  cursor: pointer;
}
.link:hover {
  color: $links_col;
  text-decoration: underline;
  cursor: pointer;
}
a {
  color: $links_col;
  outline-color: transparent;
}
a:link {
  color: $links_col;
}

a:visited {
  color: $links_col;
}

a:focus {
  color: $links_col;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: $links_col;
}
.org_node_title {
  color: $title_col;
  padding: 0.2rem;
  padding-left: 0.5rem;
}
.org_node_content {
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

@mixin indent(){
  @for $i from 1 through 1 { // thought I'd need more
    .indent-#{$i}{
        padding-left: ($i * $indent);
    }
  }
}

@include indent();

// org_page contains org_content & backlinks

.os-body {
    padding: 66px 16px 0 16px;
}
.org_page {
    display: flex;
    height: calc(100vh - 66px); // WARNING/danger header height / os-body margin
}
.org_content {
    flex: 2;
    overflow-y: scroll;
    height: 100%;
    padding-right: 1rem;
}
.backlink_content {
    flex: 1;
    overflow-y: scroll;
    height: 100%;
    // border-left: 3px solid #ED60BA;
}
.invisible {
    display: none;
}

// org node styles:

@mixin title_style($colour, $flashy: false) {
    color: black;
    background: $colour;
    border-top: 1px solid $colour;
    border-left: 1px solid $colour;
    border-bottom: 1px solid $colour;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0.5rem;
    @if $flashy {
        .link, a {
            color: $darker_links_col;
        }
    }
}

@mixin content_style($colour) {
    cursor: pointer;
    border-radius: 0.5rem;
    border-right: 1px solid $colour;
    border-left: 1px solid $colour;
    border-bottom: 1px solid $colour;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.6rem;
}

@mixin node_style($colour, $flashy: false) {
    >.org_node_title {
        @include title_style($colour, $flashy)
    }
    >.org_node_content {
        @include content_style($colour)
    }
}

// node styles:
.selected_node {
    @include node_style($selected_col, $flashy: true)
}
.target_node {
    @include node_style($target_col, $flashy: true)
}
.anchor_node {
    @include node_style($anchor_col)
}
// right pane:
.right_pane_node {
    @include node_style($anchor_col)
}
.selected_right_pane_node {
    @include node_style($selected_col, $flashy: true)
}

// search
.search_results >ul{
    position: absolute;
    background: $dark_background;
    overflow-y: scroll;
    left: 10%;
    width: 80%;
}

.search_selected {
    background: $selected_col;
}
