.header {
    margin-top: 0.5rem;
}
.content {
    // padding-left: $indent;
}
// body
body {
    width: 100%;
    background: $darker_background;
    color: white;
}
.navigation {
    width: 100%;
    text-align: center;
}
.nav-link {
    padding: 0.5rem;
}


.org_node_title {
    color: $title_col;
    padding: 0.2rem;
    padding-left: 0.5rem;
}
.org_node_content {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}
.drawer_backlink_content {
    padding-left: 0.5rem;
    margin: 0.5rem;
}


@mixin indent(){
    @for $i from 1 through 1 { // thought I'd need more
        .indent-#{$i}{
            padding-left: ($i * $indent);
        }
    }
}

@include indent();

.fade-bottom {
    mask-image: linear-gradient(
        to bottom,
        $fade_col 95%, /* Opaque center */
        transparent 100% /* Fade out bottom content */
    );
}
.fade-top {
    mask-image: linear-gradient(
        to top,
        $fade_col 95%,
        transparent 100%
    );
}
.fade-both {
    mask-image: linear-gradient(
        to bottom,
        transparent 0%, /* Fade out top content */
        $fade_col 3%, /* Opaque center */
        $fade_col 97%, /* Opaque center */
        transparent 100% /* Fade out bottom content */
    );
}

// animations
@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
.fade-in {
    animation: fadeIn 0.3s;
}

// org_page contains org_content & backlinks

.os-body {
    padding: 50px 16px 0 16px;
}

.org_page {
    display: flex;
    height: calc(100vh - 50px); // WARNING/danger header height / os-body margin
}
.org_content {
    flex: 2;
    overflow-y: scroll;
    height: 100%;
    padding-right: 1rem;
    padding-bottom: $main_content_padding;
}
.backlink_content {
    flex: 1;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: $main_content_padding;
}
.invisible {
    display: none;
}

// org node styles:

@mixin title_style($colour, $flashy: false) {
    // color: black;
    background: $colour;
    border-top: 1px solid $colour;
    border-left: 1px solid $colour;
    border-bottom: 1px solid $colour;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0.5rem;
    @if $flashy {
        .link, a {
            color: $darker_links_col;
        }
        color: black;
    }
}

@mixin content_style($colour) {
    cursor: pointer;
    border-radius: 0.5rem;
    border-right: 1px solid $colour;
    border-left: 1px solid $colour;
    border-bottom: 1px solid $colour;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.6rem;
}

@mixin node_style($colour, $flashy: false) {
    >.org_node_title {
        @include title_style($colour, $flashy)
    }
    // warning: if you style .org_node_content, padding will affect collapsible.
    >.org_node_content >.content {
        @include content_style($colour)
    }
}

// node styles:
.selected_node {
    @include node_style($selected_col, $flashy: true)
}
.target_node {
    @include node_style($target_col, $flashy: true)
}
.anchor_node {
    @include node_style($anchor_col)
}
// right pane:
.right_pane_node {
    @include node_style($anchor_col)
}
.selected_right_pane_node {
    @include node_style($selected_col, $flashy: true)
}

//links
.link {
    color: $links_col !important;
    cursor: pointer;
}
.link:hover {
    color: $links_col !important;
    text-decoration: underline;
    cursor: pointer;
}

a .link {
    color: $links_col !important;
    outline-color: transparent;
}
a:link .link {
    color: $links_col !important;
}

a:visited .link {
    color: $links_col !important;
}

a:focus .link {
    color: $links_col !important;
}
a:hover .link {
    color: $links_col !important;
    text-decoration: underline;
}
a:active .link {
    color: $links_col !important;
}

a:link.external_link {
    color: $external_links_col !important;
}

a:visited.external_link {
    color: $external_links_col !important;
}

a:focus.external_link {
    color: $external_links_col !important;
}
a:hover.external_link {
    color: $external_links_col !important;
    text-decoration: underline;
}
a:active.external_link {
    color: $external_links_col !important;
}

// search
.search_results >ul{
    position: absolute;
    background: $dark_background;
    overflow-y: scroll;
    max-height: 90vh;
    left: 10%;
    width: 80%;
    border-radius: 0.5rem;
}

.search_selected {
    background: $selected_col;
}
