$indent: 1rem;
$dark_violet: #554466;
$grey_445:  #444455;
$grey_red: #544863;
$dark_background: $grey_445;
$deep_yellow: #FFB85B;
$dark_blue: #40B4C4;
$pink: #ED60BA;

$links_col: cyan;
$darker_links_col: $grey_red;

$title_col: $pink;

$anchor_col: $dark_background;
$selected_col: $pink;
$target_col: $deep_yellow;
